body{
  background-color: rgb(236, 187, 52);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#topo{
  max-width: 500px;  
  padding: 15px;
  background-color: rgb(235, 225, 174);
  border-radius: 5px;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  line-height: 15px;
}
#lista{
  max-width: 500px;  
  padding: 15px;
  background-color: rgb(235, 225, 174);
  border-radius: 5px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  line-height: 15px;
}
#criar-tarefa{
  width: 100px;
  height: 30px;
  background-image: linear-gradient(to bottom, #e4ae70, #ca7608);
  border: rgb(168, 100, 12) solid 1px;
  border-radius: 5px;
}
#lista-tarefas{
  line-height: 20px;
}

